<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>실시간 온도, 습도 측정기</title>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.4/highcharts.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
    <script>
        var chart, chart2;
        var socket = io();

        socket.on('connect', function(){
            console.log("Connected!"); 
            socket.emit('join_web', {data: 'client_ready'});
        });

        socket.on('dht_chart', function(msg){
            try {
                // 1. msg.data(문자열)를 객체로 변환하여 data 변수에 할당
                var data = JSON.parse(msg.data); 
                
                // 2. 파싱된 데이터가 콘솔에 찍히는지 확인 (F12에서 확인 가능)
                console.log("온도:", data.temperature, "습도:", data.humidity);
                
                var t = new Date();
                var x = t.getTime();

                // 3. 차트에 포인트 추가
                chartAddPoint([x, Number(data.temperature)]);
                chart2AddPoint([x, Number(data.humidity)]);
            } catch (e) {
                console.error("데이터 파싱 중 오류 발생:", e);
                console.log("받은 원본 데이터:", msg.data);
            }
        });
        
        function chartAddPoint(tval){
            var series = chart.series[0],
            shift = series.data.length > 20;
            // eval을 빼고 tval(배열)을 직접 넣습니다.
            chart.series[0].addPoint(tval, true, shift); 
        }
        function chart2AddPoint(hval){
            var series2 = chart2.series[0],
            shift2 = series2.data.length > 20;
            // eval을 빼고 hval(배열)을 직접 넣습니다.
            chart2.series[0].addPoint(hval, true, shift2);
        }

        $(function(){
            chart = new Highcharts.Chart({
                chart: { renderTo: 'temp', defaultSeriesType: 'spline' },
                title: { text: '실시간 온도 데이터' },
                xAxis: { type: 'datetime', tickPixelInterval: 120, maxZoom: 20 * 1000 },
                yAxis: { minPadding: 0.2, maxPadding: 0.2,
                title: { text: '온도 ( C )', margin: 20 } },
                series: [{ name: '온도', data: [] }]
            });
            chart2 = new Highcharts.Chart({
                chart: { renderTo: 'humi', defaultSeriesType: 'spline' },
                title: { text: '실시간 습도 데이터' },
                xAxis: { type: 'datetime', tickPixelInterval: 120, maxZoom: 20 * 1000 },
                yAxis: { minPadding: 0.2, maxPadding: 0.2,
                title: { text: '습도 ( % )', margin: 20 } },
                series: [{ name: '습도', data: [] }]
            });
        });
    </script>
</head>
<body>
    <div id="temp" style="width:100%; height: 300px; margin-left:-5px;"></div>
    <div id="humi" style="width:100%; height: 300px; margin-left:-5px;"></div>
</body>
</html>